{% extends "base.html.twig" %}
{% block title %}Modifier la réponse
{% endblock %}

{% block body %}
	<div
		class="form-container">
		{# templates/candidateResponse/edit.html.twig #}
		{{ form_start(form) }}
		{{ form_errors(form) }}

        {{ form_row(form.question, {'label': 'La Question est:'}) }}
		{{ form_row(form.enoncer, {'label': 'Modifier la réponse ici'}) }}
		{{ form_row(form.iscorrect, {'label': 'Est-ce la bonne réponse?'}) }}
        {# {{ form_row(form.imageResponse, {'label': 'modifier l\'image réponse?'}) }} #}

		<button type="submit">Enregistrer les modifications</button>

		{{ form_end(form) }}
	</div>
{% endblock %}

