{% extends "base.html.twig" %}

{% block title %}Create new CandidateResponse!
{% endblock %}

{% block body %}
	<div
		class="form-container">
		{# templates/candidateResponse/new.html.twig #}
		{{ form_start(form) }}
		{{ form_errors(form) }}


		{{ form_row(form.question, {'label': 'La question est:'}) }}
		{{ form_row(form.enoncer, {'label': 'Entrer une response possible'}) }}
		{# Ajoutez la classe 'hidden' pour masquer le champ #}
		{# {{ form_row(form.imageResponse, {'label': 'Entrer une réponse image possible', 'attr': {'class': 'hidden'}}) }} #}
		{{ form_row(form.iscorrect, {'label': 'Est ce une response correcte ?'}) }}
		<button type="submit">Enregistrer la nouvelle reponse</button>


	{{ form_end(form) }}
</div>{% endblock %}

