{% extends "base.html.twig" %}
{% block title %}Mofifier Question!
{% endblock %}

{% block body %}
	<div
		class="form-container">
		{# templates/question/edit.html.twig #}
		{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.quiz, {'label': 'Modifier la quiz ici'}) }}

		{{ form_row(form.enonce, {'label': 'Modifier la question ici'}) }}

		<button type="submit">Enregistrer les modifications</button>

		{{ form_end(form) }}
	</div>
	<h1>liste des réponses possibles</h1>

	<a href="{{ path('app_candidate_response_new', {'questionId': question.id}) }}" class="btn btn-primary">
		<i class="fas fa-book"></i>
		Ajouter une Réponse possible
	</a>
	<div class="table-container">
		<table class="table">
			<thead>
				<tr>
					<th>Réponse Possible</th>
					<th>est elle correcte?</th>
					<th>Actions</th>

				</tr>
			</thead>
			<tbody>
				{% for candidateResponse in question.candidateResponses %}
					<tr class="{{ cycle(['even', 'odd'], loop.index) }}">
						<td>{{ candidateResponse.enoncer }}</td>
						<td>{{ candidateResponse.iscorrect ? 'Oui' : 'Non' }}</td>
						<td>
							<a href="#" class="btn btn-danger">
								<i class="fas fa-play"></i>
								Lire
							</a>
							<a href="{{ path('app_candidate_response_edit', {'responseId': candidateResponse.id, 'questionId': question.id}) }}" class="btn btn-warning">
								<i class="fas fa-edit"></i>
								Modifier
							</a>
							<a href="{{ path('app_candidate_response_delete', {'candidateResponseId': candidateResponse.id, 'questionId': question.id}) }}" class="btn btn-danger">
								<i class="fas fa-trash"></i>
								Supprimer
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}

