{% extends 'base.html.twig' %}

{% block title %}Hello EvaluationController!
{% endblock %}

{% block body %}
<form action="{{ path('app_evaluation_submit', {'id': data.id}) }}" method="POST" enctype="multipart/form-data">

		<input type="hidden" name="quiz_id" value="{{ data.id }}">

		{% for question in data.questions %}
			<div>
				{{ question.enonce }}
				{% for response in question.responses %}
					<div>
                    <input type="checkbox"  value="{{ response.id }}">

						{{ response.enonce }}
					</input>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
        
	<button type="submit">Soumettre</button>
</form>{% endblock %}

