{% extends 'base.html.twig' %}

{% block title %}
	Evaluation
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/main_evaluation.css') }}">
{% endblock %}


{% block body %}

{% set data = form.vars.value %}

<form action="{{ path('app_evaluation_result') }}" method="POST" enctype="multipart/form-data">
		
		<input type="hidden" name="quiz_id" value="{{ data.id }}">
		<h1>Quiz: {{ data.name }}</h1>
		<input 
			type="hidden" 
			name=" quiz[id]" 
			value="{{ data.id }}">

		{% for question in data.questions %}

				<div>
					<h2>{{ question.enonce }}</h2>

					<input 
						type="hidden" 
						name="questions[{{ question.id }}][enonce]" 
						value="{{ question.enonce }}">

				{% for response in question.responses %}
					<div>
						<label>
							<input type="checkbox" value="true" name="questions[{{ question.id }}][responses][{{ response.id }}][isChecked]">
							<i class="far fa-square"></i>
							<!-- Case non cochée -->
							<i class="fas fa-check-square"></i>
							<!-- Case cochée -->
							{{ response.enonce }}
						</label>



						<input type="hidden" name="questions[{{ question.id }}][responses][{{ response.id }}][enonce]" value="{{ response.enonce }}">
						<input type="hidden" name="questions[{{ question.id }}][responses][{{ response.id }}][id]" value="{{ response.id }}">
					</div>
				{% endfor %}


				</div>
		{% endfor %}
        
	<button type="submit">Soumettre</button>
</form>
<a href="{{ path('app_home')}}"><h2>Retour à la liste des quizs</h2></a>

{% endblock %}