{% extends "base.html.twig" %}
{% block title %}Create new Quiz!
{% endblock %}

{% block body %}
<div class="form-container">
    {# templates/quiz/new.html.twig #}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

    <button type="submit">Enregistrer</button>

    {{ form_end(form) }}
</div>
{% endblock %}
