{% extends 'base.html.twig' %}
{% block title %}Passer le Quiz
{% endblock %}
{# {% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/main_evaluation.css') }}">
{% endblock %} #}


{% block body %}
	<form method="post" action="{{ path('app_evaluation_submit', {'id': quiz.id}) }}">
		{{ form_start(form) }}

		<h2>Questions:</h2>
		<ul>
			{% for question in questions %}
				<li>
					{{ question.enonce }}
					<ul>
						{% for response in question.candidateResponses %}
							<li>
								<label>
								<input type="checkbox" name="evaluation[responses][]" value="{{ response.id }}">

									{{ response.enoncer }}
								</label>
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>

		<button type="submit">Submit</button>
	</form>
{% endblock %}

